name: SonarQube

on:
  push:
    branches: [ "master" ]
    paths: [".github/workflows/sonarqube.yml", "src/**/java/**"]

  pull_request:
    branches: [ "master" ]
    types: [opened, synchronize, reopened]
    paths: [".github/workflows/sonarqube.yml", "src/**/java/**"]

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
        with:
          add-job-summary-as-pr-comment: on-failure
      - name: Generate test report
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew test jacocoTestReport sonar -Dsonar.organization=rashidi-github -Dsonar.projectKey=rashidi_terpsichore -Dsonar.coverage.jacoco.xmlReportPaths=./build/reports/jacoco/test/jacocoTestReport.xml
